/SDL2*
*.jks
*.pepk
*.keystore
.gradle
build/
local.properties
*.log
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
google-services.json
*.hprof